.color-palette-wrapper{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin: 40px auto;
}
.color-box-wrapper{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.color-box{
    width: 140px;
    height: 100px;
    text-align: center;
    border-radius: 0.5rem;
    margin: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
}

.subtitle{
    margin: 10px 0;
    display: block;
}