.number-wrapper{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
.number-box{
    width: 140px;
    height: 100px;
    border-radius: 0.5rem;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5px;
    color: #fff;
    font-weight: bold;
}

.subtitle{
    margin: 10px 0;
    display: block;
}